{
    "swagger": "2.0",
    "info": {
        "title": "ImpactOS API",
        "version": "v1"
    },
    "host": "ec2-54-226-167-211.compute-1.amazonaws.com",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Basic": {
            "type": "basic"
        }
    },
    "security": [
        {
            "Basic": []
        }
    ],

    "paths": {
        "/api/contributor/": {
            "get": {
                "operationId": "api_contributor_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contributor"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/contributor/{contributor_id}/": {
            "get": {
                "operationId": "api_contributor_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Contributor"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/datasource/": {
            "get": {
                "operationId": "api_datasource_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Datasource"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/datasource/{data_sourceid}/": {
            "get": {
                "operationId": "api_datasource_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Datasource"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },

            "parameters": [
                {
                    "name": "data_sourceid",
                    "in": "path",
                    "description": "A unique integer value identifying this datasource.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },

        "/api/emissioncategory/": {
            "get": {
                "operationId": "api_emissioncategory_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EmissionCategory"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/emissioncategory/{emission_category_id}/": {
            "get": {
                "operationId": "api_emissioncategory_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmissionCategory"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },

           
            "parameters": [
                {
                    "name": "emission_category_id",
                    "in": "path",
                    "description": "A unique integer value identifying this emission category.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/emissionfactor/": {
            "get": {
                "operationId": "api_emissionfactor_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EmissionFactor"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/emissionfactor/bulk-upload/": {
            "post": {
                "operationId": "api_emissionfactor_bulk_upload",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EmissionFactor"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmissionFactor"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },

        "/api/emissionfactor/{emission_factor_id}/": {
            "get": {
                "operationId": "api_emissionfactor_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmissionFactor"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": [
                {
                    "name": "emission_factor_id",
                    "in": "path",
                    "description": "A unique integer value identifying this emission factor.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },

        "/api/filter-emissioncategory/{category_name}/": {
            "get": {
                "operationId": "api_filter-emissioncategory_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": [
                {
                    "name": "category_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/geographicalscope/": {
            "get": {
                "operationId": "api_geographicalscope_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GeographicalScope"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },

        "/api/geographicalscope/{geographical_scope_id}/": {
            "get": {
                "operationId": "api_geographicalscope_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GeographicalScope"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },

            "parameters": [
                {
                    "name": "geographical_scope_id",
                    "in": "path",
                    "description": "A unique integer value identifying this geographical scope.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },

        "/api/juncContribEmit/": {
            "get": {
                "operationId": "api_juncContribEmit_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/JunctionContributorEmissionfactor"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/juncContribEmit/{id}/": {
            "get": {
                "operationId": "api_juncContribEmit_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/JunctionContributorEmissionfactor"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this junction contributor emissionfactor.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/sector/": {
            "get": {
                "operationId": "api_sector_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Sector"
                            }
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            }
        },
        "/api/sector/{sector_id}/": {
            "get": {
                "operationId": "api_sector_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Sector"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },

            "parameters": [
                {
                    "name": "sector_id",
                    "in": "path",
                    "description": "A unique integer value identifying this sector.",
                    "required": true,
                    "type": "integer"
                }
            ]
        }
    },
    
    "definitions": {
        "Contributor": {
            "required": [
                "name",
                "credential",
                "organization"
            ],
            "type": "object",
            "properties": {
                "contributor_id": {
                    "title": "Contributor id",
                    "type": "integer",
                    "readOnly": true
                },
                "name": {
                    "title": "Name",
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "credential": {
                    "title": "Credential",
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "organization": {
                    "title": "Organization",
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "number_of_verifications": {
                    "title": "Number of verifications",
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "x-nullable": true
                },
                "number_of_contribution": {
                    "title": "Number of contribution",
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "x-nullable": true
                }
            }
        },
        "Datasource": {
            "required": [
                "name",
                "contributors"
            ],
            "type": "object",
            "properties": {
                "data_sourceid": {
                    "title": "Data sourceid",
                    "type": "integer",
                    "readOnly": true
                },
                "name": {
                    "title": "Name",
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "description": {
                    "title": "Description",
                    "type": "string",
                    "x-nullable": true
                },
                "reference_link": {
                    "title": "Reference link",
                    "type": "string",
                    "format": "uri",
                    "maxLength": 255,
                    "x-nullable": true
                },
                "contributors": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    },
                    "uniqueItems": true
                }
            }
        },
        "EmissionCategory": {
            "required": [
                "category"
            ],
            "type": "object",
            "properties": {
                "emission_category_id": {
                    "title": "Emission category id",
                    "type": "integer",
                    "readOnly": true
                },
                "category": {
                    "title": "Category",
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "sub_category": {
                    "title": "Sub category",
                    "type": "string",
                    "x-nullable": true
                },
                "lifecycle_activity": {
                    "title": "Lifecycle activity",
                    "type": "string",
                    "x-nullable": true
                }
            }
        },
        "EmissionFactor": {
            "required": [
                "pollutant",
                "sector",
                "emissioncategory",
                "datasource",
                "geographicalscope"
            ],
            "type": "object",
            "properties": {
                "emission_factor_id": {
                    "title": "Emission factor id",
                    "type": "integer",
                    "readOnly": true
                },
                "product_name": {
                    "title": "Product name",
                    "type": "string",
                    "x-nullable": true
                },
                "additional_information": {
                    "title": "Additional information",
                    "type": "string",
                    "x-nullable": true
                },
                "emission_quantity": {
                    "title": "Emission quantity",
                    "type": "string",
                    "format": "decimal"
                },
                "emission_quantity_units": {
                    "title": "Emission quantity units",
                    "type": "string",
                    "maxLength": 50,
                    "x-nullable": true
                },
                "pollutant": {
                    "title": "Pollutant",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 1
                },
                "co2_or_co2_equivalent": {
                    "title": "Co2 or co2 equivalent",
                    "type": "string",
                    "maxLength": 50,
                    "x-nullable": true
                },
                "technical_refrence": {
                    "title": "Technical refrence",
                    "type": "string",
                    "x-nullable": true
                },
                "date_recorded_year": {
                    "title": "Date recorded year",
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "x-nullable": true
                },
                "date_updated_year": {
                    "title": "Date updated year",
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "x-nullable": true
                },
                "reliability_factor": {
                    "title": "Reliability factor",
                    "type": "string",
                    "format": "decimal",
                    "x-nullable": true
                },
                "ef_tier": {
                    "title": "Ef tier",
                    "type": "string",
                    "maxLength": 50,
                    "x-nullable": true
                },
                "sector": {
                    "title": "Sector",
                    "type": "integer"
                },
                "emissioncategory": {
                    "title": "Emissioncategory",
                    "type": "integer"
                },
                "datasource": {
                    "title": "Datasource",
                    "type": "integer"
                },
                "geographicalscope": {
                    "title": "Geographicalscope",
                    "type": "integer"
                }
            }
        },
        "GeographicalScope": {
            "type": "object",
            "properties": {
                "geographical_scope_id": {
                    "title": "Geographical scope id",
                    "type": "integer",
                    "readOnly": true
                },
                "region": {
                    "title": "Region",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 1,
                    "x-nullable": true
                },
                "country": {
                    "title": "Country",
                    "type": "string",
                    "maxLength": 100,
                    "x-nullable": true
                },
                "city": {
                    "title": "City",
                    "type": "string",
                    "maxLength": 50,
                    "x-nullable": true
                },
                "district": {
                    "title": "District",
                    "type": "string",
                    "maxLength": 50,
                    "x-nullable": true
                }
            }
        },
        "JunctionContributorEmissionfactor": {
            "required": [
                "emissionfactor",
                "contributor"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "title": "ID",
                    "type": "integer",
                    "readOnly": true
                },
                "emissionfactor": {
                    "title": "Emissionfactor",
                    "type": "integer"
                },
                "contributor": {
                    "title": "Contributor",
                    "type": "integer"
                }
            }
        },
        "Sector": {
            "required": [
                "name",
                "description",
                "geographic_scope"
            ],
            "type": "object",
            "properties": {
                "sector_id": {
                    "title": "Sector id",
                    "type": "integer",
                    "readOnly": true
                },
                "name": {
                    "title": "Name",
                    "type": "string",
                    "maxLength": 250,
                    "minLength": 1
                },
                "description": {
                    "title": "Description",
                    "type": "string",
                    "minLength": 1
                },
                "geographic_scope": {
                    "title": "Geographic scope",
                    "type": "integer"
                }
            }
        }
    }
}